<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO SE TODAVÍA</title>
</head>

<body>
    <div class="form-container">
        <div class="form-column">
            <h1>Create new product</h1>

            <form id="createProduct">
                <label for="title">Title</label>
                <input type="text" name="title" required>

                <label for="description">Description</label>
                <input type="text" name="description" required>

                <label for="category">Category</label>
                <input type="text" name="category" required>

                <label for="price">Price</label>
                <input type="number" name="price" required>

                <label for="stock">Stock</label>
                <input type="number" name="stock" required>

                <label for="code">Code</label>
                <input type="text" name="code" required>

                <label for="status">Status</label>
                <input type="text" name="status" required>

                <button type="submit">Create product</button>
            </form>
        </div>

        <div>
            <h1>Delete Product</h1>

            <form id="deleteProduct">
                <label for="productId">ID</label>
                <input type="text" name="productId" required>

                <button type="submit">Delete product</button>
            </form>
        </div>
    </div>
</body>

</html>